.site-header {
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
	position: relative;
	height: $layout-header-height;
}

.site-navigation {
	margin-top: 5px;
	display: inline-block;

	.menu-toggle {
		padding: 6px 0;
		line-height: 1;
		font-size: 26px;
		display: inline-block;
		margin-top: -5px;

		&:hover {
			color: $color-primary;
			cursor: pointer;
		}
	}

	.menu-item {
		display: inline-block;
		margin-right: 20px;
		position: relative;
		font-weight: bold;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			color: black;
		}
	}

	.menu-item-has-children {
		&:hover > .sub-menu {
			display: block;
		}
	}

	.menu-primary-container {
		float: right; // Needed to fit the custom button
	}

	@media (max-width: $breakpoint-small) {
		.menu-primary-container {
			display: none;
			position: absolute;
			left: 0;
			margin-top: 1rem;
			background: rgba(white, 0.95);
			width: 100%;
			border-bottom: 1px solid #ddd;
			box-shadow: 0 10px 20px rgba(black, 0.1);
		}

		&.is-extended .menu-primary-container {
			display: block;
		}

		&.is-extended .menu-primary {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}

		.menu-item {
			border-bottom: 1px solid #f0f0f0;
			margin: 0;
			display: block;

			a {
				display: block;
				padding: rem-calc(8px $global-layout-gutter / 2);
			}

			a:hover {
				color: $color-primary;
			}
		}

		.menu-item-has-children .dropdown-arrow {
			height: rem-calc(10px + 16px*2);
			width: rem-calc(10px + 16px*2);
			line-height: rem-calc(10px + 16px*2);
			padding: 0;
		}

		.sub-menu {
			border-top: 1px solid #f0f0f0;
			background: #f0f0f0;
		}
	};

	@media (min-width: $breakpoint-small) {
		.menu-toggle {
			display: none;
		}

		.menu-primary-container {
			display: block;
		}

		.sub-menu {
			pointer-events: none;
			opacity: 0;
			transition: 0.2s;
			transform: translateY(40px);
		}

		li {
			position: relative;
		}

		li:hover > .sub-menu{
			opacity: 1;
			pointer-events: auto;
			transition: 0.2s;
			transform: translateY(0);
		}

		.sub-menu {
			position: absolute;
			border: 1px solid #ccc;
			top: 27px;
			background: rgba(white, 0.98);
			max-width: 200px;
			text-align: left;
			z-index: 99;

			a {
				display: block;
				padding: 8px 13px;
				font-size: 13px;
				font-weight: normal;
				color: black;

				&:hover {
					background: transparent;
					color: $color-primary;
				}
			}

			li {
				width: 100%;
				border-bottom: 1px solid #f0f0f0;
				float: none;
				min-width: 200px;
				display: block;
			}
		}
	}
}

.site-branding {
	display: inline-block;
}